html {
  box-sizing: border-box;
  font-size: 12px;
}

@media screen and (min-width: 25em) {
  html {
    font-size: calc(12px + (14 - 12) * (100vw - 400px) / (800 - 400));
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on, "clig" on, "dlig" off;
}

code {
  font-family: "Space Mono", monospace;
}
